<h2>Car Details</h2>
<p *ngIf="!car">Please select a car.</p>
<div *ngIf="car">
  <h3>{{car.make}} {{car.model}}</h3>
  <p>Year: {{car.year}}</p>
  <h4>Services</h4>
  <ul>
    <li *ngFor="let service of car.services">
      {{service.part}} - ${{service.cost}}
    </li>
  </ul>
  <h4>Add Service</h4>
  <form (submit)="addService()">
    <div>
      <label>Part:</label>
      <input type="text" [(ngModel)]="newPart" name="newPart" required>
    </div>
    <div>
      <label>Cost:</label>
      <input type="number" [(ngModel)]="newCost" name="newCost" required>
    </div>
    <button type="submit">Add Service</button>
  </form>
</div>
